<% provide(:page_title, 'Home') %>

<ul class="thumbnails">
  <li class="span2" style="margin-left:0;width: 20%;">
    <a href="/show/about_our_club" class="thumbnail home-link">
      <%= image_tag("newbg7.jpg", :alt => "") %>
      <span class="home-nav" style="font-size: 16px; font-weight: bold;"> <%= image_tag("arrow.gif", :alt => "") %>About Our Club</span>
    </a>
  </li>
  <li class="span2" style="margin-left:0;width: 20%;">
    <div class="thumbnail">
      <%= image_tag("01.jpg", :alt => "") %>
    </div>
  </li>
  <li class="span2" style="margin-left:0;width: 20%;">
    <div class="thumbnail">
      <%= image_tag("02.jpg", :alt => "") %>
    </div>
  </li>
  <li class="span2" style="margin-left:0;width: 20%;">
    <div class="thumbnail">
      <%= image_tag("05.jpg", :alt => "") %>
    </div>
  </li>
  <li class="span2" style="margin-left:0;width: 20%;">
    <a href="/show/about_our_service" class="thumbnail home-link">
      <%= image_tag("newbg7.jpg", :alt => "") %>
      <span class="home-nav" style="font-size: 16px; font-weight: bold;"> <%= image_tag("arrow.gif", :alt => "") %>About Our Service</span>
    </a>
  </li>


  <li class="span2" style="margin-left:0;width: 20%;">
    <div class="thumbnail">
      <%= image_tag("03.jpg", :alt => "") %>
    </div>
  </li>
  <li class="span2" style="margin-left:0;width: 20%;">
    <a href="/show/news_and_information" class="thumbnail home-link">
      <%= image_tag("newbg7.jpg", :alt => "") %>
      <span class="home-nav" style="font-size: 16px; font-weight: bold;"> <%= image_tag("arrow.gif", :alt => "") %>News & Information</span>
    </a>
  </li>

  <li class="span2" style="margin-left:0;width: 20%;">
    <div class="thumbnail">
      <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item"><%= image_tag("lions-club-logos2.png", :alt => "") %></div>
          <div class="item"> <%= image_tag("lions-club-logos3.png", :alt => "") %></div>
          <div class="item"> <%= image_tag("lions-club-logos1.png", :alt => "") %></div>
          <div class="item"> <%= image_tag("lions-club-logos4.png", :alt => "") %></div>
          <div class="item"> <%= image_tag("lions-club-logos5.png", :alt => "") %></div>
        </div>
      </div>

    </div>
  </li>
  <li class="span2" style="margin-left:0;width: 20%;">
    <a href="/show/for_club_members" class="thumbnail home-link">
      <%= image_tag("newbg7.jpg", :alt => "") %>
      <span class="home-nav" style="font-size: 16px; font-weight: bold;"> <%= image_tag("arrow.gif", :alt => "") %>For Club Members</span>
    </a>
  </li>

  <li class="span2" style="margin-left:0;width: 20%;">
    <div class="thumbnail">
      <%= image_tag("07.jpg", :alt => "") %>
    </div>
    </a>
  </li>

  <li class="span2" style="margin-left:0;width: 20%;">
    <a href="/show/lions_world" class="thumbnail home-link">
      <%= image_tag("newbg7.jpg", :alt => "") %>
      <span class="home-nav" style="font-size: 16px; font-weight: bold;"> <%= image_tag("arrow.gif", :alt => "") %>Lions World</span>
    </a>
  </li>


  <li class="span2" style="margin-left:0;width: 20%;">
    <div class="thumbnail">
      <%= image_tag("09.jpg", :alt => "") %>
    </div>
  </li>
  <li class="span2" style="margin-left:0;width: 20%;">
    <div class="thumbnail">
      <%= image_tag("08.jpg", :alt => "") %>
    </div>
  </li>
  <li class="span2" style="margin-left:0;width: 20%;">
    <div class="thumbnail">
      <%= image_tag("04.jpg", :alt => "") %>
    </div>
  </li>
  <li class="span2" style="margin-left:0;width: 20%;">
    <a href="/contacts/contact_us" class="thumbnail home-link">
      <%= image_tag("newbg7.jpg", :alt => "") %>
      <span class="home-nav" style="font-size: 16px; font-weight: bold;"> <%= image_tag("arrow.gif", :alt => "") %>
        Contact Us</span>
    </a>
    </a>
  </li>
</ul>
<script type="text/javascript">$('.carousel').carousel({
    interval:4000
})
</script>
