<% provide :page_title, "Fill Newsletter: #{@newsletter.period.strftime('%B %Y')}" %>
<ul class="nav nav-pills">
  <li>
    <%= link_to({:controller => 'access', :action => 'menu'}, :class => "btn-primary") do %>
        <i class="icon-home icon-white"></i> Admin Home
    <% end %>
  </li>
  <li>
    <%= link_to(root_path, :class => "btn-primary") do %>
        <i class="icon-home icon-white"></i> Site Home
    <% end %>
  </li>
  <li>
    <%= link_to({:controller => 'newsletters', :action => 'list'}, :class => "btn-primary") do %>
        <i class="icon-th-list icon-white"></i> Newsletters List
    <% end %>
  </li>
</ul>
<%= simple_form_for(@newsletter, :url => {:action => 'update', :id => @newsletter.id}) do |f| %>
    <%= f.error_notification %>

    <fieldset>
      <legend>
        <%= "Fill Content >> Newsletter #{@newsletter.period.strftime('%B %Y')}".upcase %>
      </legend>
      <%= f.input :period, :as => :date, :discard_day => true, :prompt => {:month => 'Select month', :year => 'Select year'}, :start_year => 2011, :disabled => true %>
      <%= f.input :visible, :as => :boolean %>
      <%= f.input :content, :as => :ckeditor, :label => 'Content', :input_html => {:toolbar => 'Full', :width => '100%', :height => '500px'} %>
      <table>
        <tr>
          <td>
            <%= f.input :header, :as => :text, :input_html => {:rows => 15, :value => "#{render :partial => 'header_value'}", :class => 'input-xlarge'} %>
          </td>
          <td>
            <%= f.input :footer, :as => :text, :input_html => {:rows => 15, :value => "#{render :partial => 'footer_value'}", :class => 'input-xlarge'} %>
          </td>
        </tr>
      </table>
      <div class="form-actions">
        <%= f.button :submit, "Save Newsletter", :class => "btn btn-large" %>
      </div>
    </fieldset>

<% end %>
