<% provide :page_title, "Newsletter" %>
<% unless @newsletter.nil? %>
   <div class="alert alert-info archive">
        <%= link_to "Archive of Newsletters", "/show/archive_of_newsletters" %>


    </div>
    <% [@newsletter].each do |n| %>
        <% provide :page_title, "Newsletter #{n.period.strftime('%B %Y')}" %>
        <%= n.header.html_safe %>
        <%= n.content.html_safe %>
        <%= n.footer.html_safe %>
    <% end %>
<% else %>
    <p class="alert alert-error">No data available!</p>
<% end %>


<h4>COMING EVENTS</h4>
<p>Please visit our <%= link_to "Calendar", '/calendar' %> for more details on the following coming events:</p>
<h5> <%= @newsletter.period.strftime('%B %Y').upcase %></h5>
 <table class="table table-striped table-bordered table-condensed table-hover">
<thead>
<tr>
  <th width="20%" style="text-align: center;vertical-align: middle;">Event Name</th>
  <th width="30%" style="text-align: center;vertical-align: middle;">When</th>
  <th width="50%" style="text-align: center;vertical-align: middle;">Where</th>

</tr>
</thead>
<tbody>
<% start_min=@newsletter.period.beginning_of_month.to_datetime %>
<% start_max=@newsletter.period.end_of_month.to_datetime+23.hour+59.minute+59.second %>
<% events = @cal.find_events_in_range(start_min, start_max, options={})  %>
  <% events.each do |e| %>
<tr>
  <td><i><%= e.title %></i></td>
  <td><%= (e.start_time.to_datetime.in_time_zone("Eastern Time (US & Canada)")).strftime("%B %d, %Y, %I:%M %p")+" - "+(e.end_time.to_datetime.in_time_zone("Eastern Time (US & Canada)")).strftime("%I:%M %p")%></td>
  <td><%= e.location%></td>

</tr>
<% end %>
</tbody>
 </table>
<% next_period= @newsletter.period+1.month %>


<h5> <%= next_period.strftime('%B %Y').upcase %></h5>
<table class="table table-striped table-bordered table-condensed table-hover">
  <thead>
  <tr>
    <th width="20%" style="text-align: center;vertical-align: middle;">Event Name</th>
    <th width="30%" style="text-align: center;vertical-align: middle;">When</th>
    <th width="50%" style="text-align: center;vertical-align: middle;">Where</th>
  </tr>
  </thead>
  <tbody>
  <% start_min_next_period=next_period.at_beginning_of_month.to_datetime %>
  <% start_max_next_period=next_period.at_end_of_month.to_datetime+23.hour+59.minute+59.second %>
<% next_period_events = @cal.find_events_in_range(start_min_next_period, start_max_next_period)  %>
<% next_period_events.each do |i| %>
      <tr>
        <td><i><%= i.title %></i></td>
        <td><%= (i.start_time.to_datetime.in_time_zone("Eastern Time (US & Canada)")).strftime("%B %d, %Y, %I:%M %p")+" - "+(i.end_time.to_datetime.in_time_zone("Eastern Time (US & Canada)")).strftime("%I:%M %p")%></td>
        <td> <%= i.location %></td>

      </tr>
  <% end %>
  </tbody>
</table>
<hr/>