<% provide :page_title, 'Newsletters List' %>

<ul class="nav nav-pills">
  <li>
    <%= link_to({:controller => 'access', :action => 'menu'}, :class => "btn-primary") do %>
        <i class="icon-home  icon-white"></i> Admin Home
    <% end %>
  </li>
  <li>
    <%= link_to(root_path, :class => "btn-primary") do %>
        <i class="icon-home icon-white"></i> Site Home
    <% end %>
  </li>
</ul>
<div>
  <h2> <%= "Newsletters".upcase %></h2>
  <ul class="nav nav-pills">
    <li>
      <%= link_to({:action => 'new'}, :class => "btn-info") do %>
          <i class="icon-plus"></i> Add New Newsletter
      <% end %>    </li>
  </ul>
  <div><p class="alert alert-info"><%= pluralize(@newsletters.size, 'newsletter') %> found</p></div>
  <table class="table table-striped table-hover table-bordered table-condensed" summary="Newsletter list">
    <thead>
    <tr>
      <th>Period</th>
      <th>Visible</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @newsletters.each do |newsletter| %>
        <tr>
          <td><%= newsletter.period.strftime("%B %Y") %></td>
          <td><%= status_tag(newsletter.visible) %></td>
          <td>
            <%= link_to({:action => 'edit', :id => newsletter.id}, :class => "btn btn-mini btn-primary") do %>
                <i class="icon-pencil"></i> Edit
            <% end %>
            <%= link_to({:action => 'fill', :id => newsletter.id}, :class => "btn btn-mini btn-warning") do %>
                <i class="icon-refresh"></i> Refill Header & Footer
            <% end %>
            <%= link_to({:action => 'delete', :id => newsletter.id}, :class => "btn btn-mini btn-danger") do %>
                <i class="icon-trash"></i> Delete
            <% end %>
            <%= link_to({:action => 'show', :id => newsletter.id}, :class => "btn btn-mini btn-success") do %>
                <i class="icon-info-sign"></i> test view
            <% end %>

          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>