<% provide :page_title, 'Create Newsletter' %>
<ul class="nav nav-pills">
  <li>
    <%= link_to({:controller => 'access', :action => 'menu'}, :class => "btn-primary") do %>
        <i class="icon-home icon-white"></i> Admin Home
    <% end %>
  </li>
  <li>
    <%= link_to(root_path, :class => "btn-primary") do %>
        <i class="icon-home icon-white"></i> Site Home
    <% end %>
  </li>
  <li>
    <%= link_to({:action => 'list'}, :class => "btn-primary") do %>
        <i class="icon-th-list icon-white"></i> Newsletters List
    <% end %>
  </li>

</ul>

<%= simple_form_for(@newsletter, :url => {:action => 'create'}, :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>
    <%= f.error_notification %>
    <fieldset>
      <legend>Create Newsletter</legend>
      <div class="form-inputs">
        <%= f.input :period, :as => :date, :discard_day => true, :prompt => {:month => 'Select month', :year => 'Select year'}, :start_year => 2011 %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Create Newsletter", :class => "btn btn-large" %>
        <%= link_to({:controller => 'newsletters', :action => 'list'}, :class => 'btn btn-large') do %>
            Cancel
        <% end %>
      </div>
    </fieldset>
<% end %>

