<% provide :page_title, 'Users List' %>

<ul class="nav nav-pills">
  <li>
    <%= link_to({:controller => 'access', :action => 'menu'}, :class => "btn-primary") do %>
        <i class="icon-home  icon-white"></i> Admin Home
    <% end %>
  </li>
  <li>
    <%= link_to(root_path, :class => "btn-primary") do %>
        <i class="icon-home icon-white"></i> Site Home
    <% end %>
  </li>
</ul>
<div>
  <h2> <%= "Users".upcase %></h2>
  <ul class="nav nav-pills">
    <li>
      <%= link_to("/admin/new", :class => "btn-info") do %>
          <i class="icon-plus"></i> Add New User
      <% end %>    </li>
  </ul>
  <div><p class="alert alert-info"><%= pluralize(@users.size, 'user') %> found</p></div>
  <table class="table table-striped table-bordered table-condensed" summary="User list">
    <thead>
    <tr>
      <th>User Name</th>
      <th>User Full Name</th>
      <th>Email</th>
      <th>Club Status</th>
      <th>Avatar</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |u| %>
        <tr>
          <td><%= u.user_name %></td>
          <td><%= "#{u.first_name}"+ " #{u.last_name}" %></td>
          <td><%= u.email %></td>
          <td><%= u.status %></td>
          <td><%= image_tag u.avatar.url(:thumb), :size => '45x45' %></td>

          <td>
            <%= link_to({:action => 'edit', :id => u.id}, :class => "btn btn-mini btn-primary") do %>
                <i class="icon-pencil"></i> Edit
            <% end %>
            <%= link_to({:action => 'delete', :id => u.id}, :class => "btn btn-mini btn-danger") do %>
                <i class="icon-trash"></i> Delete
            <% end %>
            <%= link_to({:action => 'show', :id => u.id}, :class => "btn btn-mini btn-info") do %>
                <i class="icon-info-sign"></i> Info
            <% end %>

          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>


