<% provide :page_title, "Webmaster" %>
<% unless @club.nil? %>

    <div class="page-header">

      <h1><%= @webmaster.size > 1 ? 'Webmaster'.pluralize : "Webmaster" %></h1>
    </div>
    <ul class="thumbnails">
      <% @webmaster.each do |webmaster| %>
          <li>
            <div class="thumbnail center leadership">
              <%= image_tag webmaster.avatar.url(:medium) %>
              <h6><%= webmaster.signature %> </h6>
            </div>
          </li>

      <% end %></ul>
    <h3>Mailing Address:</h3>
    <address>
      <strong><%= @club.name %></strong><br>
      <%= @club.mailing_address %>
    </address>
    <address>
      <strong>Email Address:</strong> <a href="mailto:#" target="_blank"><%= @club.webmaster_email %></a></address>

<% else %>
    <p class="alert alert-error">No data available!</p>
<% end %>