
  <% if user_signed_in? %>
      <div class="btn-group pull-right">
      <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> <%= current_user.signature %>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to 'Edit Profile', edit_user_registration_path %>
        </li>
        <% if current_user.has_role? :admin %>
            <li>
              <%= link_to 'Admin', "/admin" %>
            </li>
        <% end %>  </ul></div>
  <% else %>
      <div class="pull-right">
      <%= link_to(new_user_session_path, :class=>"btn btn-mini") do %>
        <i class="icon-user"></i> Login
      <% end %>
          </div>
  <% end %>
<!--/.nav-collapse -->



