<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="The McGaheysville-Massanutten Lions Club helps satisfy needs that present themselves in our local community, our district, our state, our nation and the world.  We locally serve the McGaheysville/Massanutten area including the eastern half of Rockingham County in the Commonwealth of Virginia, USA"/>
  <meta name="keywords" content="Lions Clubs International, community service, volunteer work"/>
  <meta name="robots" content="index, nofollow"/>
  <meta name="robots" content="noarchive"/>
  <%= render "layouts/fonts" %>
  <title><%= full_title(yield(:page_title)) %></title>
  <%= csrf_meta_tags %>
  <script src="/assets/flowplayer-3.2.11.min.js" type="text/javascript"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37969295-1']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();
  </script>
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->
<%= render "layouts/header" %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="yui3-g" id="layout">
      <div class="yui3-u" id="nav">
        <div class="lion-menu "><%= render_navigation :level => 2..3 %></div>
      </div>
      <div class="yui3-u" id="main">
        <div class="content"><%= render 'layouts/messages' %>
          <div class="breadcrumbs"><%= render_navigation :renderer => :breadcrumbs, :join_with => " &gt; ", :static_leaf => true %>  </div>
          <%= yield %>
          <div class="navigation"> <%= render_navigation :level => 4..5 %></div>
        </div>
      </div>
      <div class="yui3-u" id="extra">
        <% if user_signed_in? %>
            <% if current_user.has_role? :admin %>

                <%= link_to({:controller => 'pages', :action => 'edit', :id => 76, :subject_id => 10}, :class => "btn btn-mini btn-primary") do %>
                    <i class="icon-pencil"></i> Edit Advertising
                <% end %>
            <% end %>
            <hr>
        <% end %>
        <% cache @advertising_section do %>
            <div class="well">
              <%= @advertising_section.content.html_safe %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>
<!-- Javascripts
   ================================================== -->
<%= javascript_include_tag "application" %>
<script type="text/javascript">$('.carousel').carousel({
    interval:2000
})
</script>
</body>
</html>
