<% provide :page_title, "Edit Club Information" %>
<ul class="nav nav-pills">
  <li>
    <%= link_to({:controller => 'access', :action => 'menu'}, :class => "btn-primary") do %>
        <i class="icon-home icon-white"></i> Admin Home
    <% end %>
  </li>

  <li>
    <%= link_to({:action => 'list'}, :class => "btn-primary") do %>
        <i class="icon-th-list icon-white"></i> Club Information
    <% end %>
  </li>
  <li>
    <%= link_to(root_path, :class => "btn-primary") do %>
        <i class="icon-home"></i> Site Home
    <% end %>
  </li>

</ul>

<%= simple_form_for(@club, :url => {:controller=>'club',:action => 'update', :id => @club.id}, :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>
    <div class="well span6 offset3">

      <fieldset>
        <legend>Update Club Information</legend>
        <%= render(:partial => "form", :locals => {:f => f}) %>
        <div class="form-actions">
          <%= f.button :submit, "Update Club Information", :class => "btn btn-large" %>
          <%= link_to({:controller => 'club', :action => 'list'}, :class => 'btn btn-large') do %>
              Cancel
          <% end %>
        </div>
      </fieldset>
    </div>
<% end %>

