<h1>Sign up</h1>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>
    <%= devise_error_messages! %>
    <fieldset>
      <legend>Create new member</legend>
      <div class="control-group">
        <%= f.label "User name:", :class => "control-label", :for => "input01" %>
        <div class="controls">
          <%= f.text_field :user_name, :class => "input-large", :id => "input01" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label "Email:", :class => "control-label", :for => "input02" %>
        <div class="controls">
          <%= f.email_field :email, :class => "input-large", :id => "input02" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label "Password:", :class => "control-label", :for => "input03" %>
        <div class="controls">
          <%= f.password_field :password, :class => "input-large", :id => "input03" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label "Password confirmation:", :class => "control-label", :for => "input04" %>
        <div class="controls">
          <%= f.password_field :password_confirmation, :class => "input-large", :id => "input04" %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Personal details</legend>


      <div class="control-group">
        <%= f.label "First name:", :class => "control-label", :for => "input05" %>
        <div class="controls">
          <%= f.text_field :first_name, :class => "input-large", :id => "input05" %>
        </div>


      </div>
      <div class="control-group">
        <%= f.label "Last name:", :class => "control-label", :for => "input06" %>
        <div class="controls">
          <%= f.text_field :last_name, :class => "input-large", :id => "input06" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label "Spouse's First Name:", :class => "control-label", :for => "input07" %>
        <div class="controls">
          <%= f.text_field :spouse_first_name, :class => "input-large", :id => "input07" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label "Birthday:", :class => "control-label" %>
        <div class="controls">
          <%= f.date_select :birthday, :discard_year => true, :prompt => {:month => 'Select month', :day => 'Select day'} %></div>
      </div>

      <div class="control-group">
        <%= f.label "Pledge Year:", :class => "control-label", :for => "input09" %>
        <div class="controls">
          <%= f.text_field :member_as_of, :class => "input-large", :id => "input09" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label "Biography:", :class => "control-label", :for => "input10" %>
        <div class="controls">
          <%= f.text_area :biography, :rows => 7, :class => "input-xlarge", :id => "input10" %>
        </div>
      </div>


    </fieldset>

    <fieldset>
      <legend>Address</legend>

      <div class="control-group">
        <%= f.label "Street:", :class => "control-label", :for => "input12" %>
        <div class="controls">
          <%= f.text_field :street, :class => "input-large", :id => "input12" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label "House_number:", :class => "control-label", :for => "input11" %>
        <div class="controls">
          <%= f.text_field :house_number, :class => "input-large", :id => "input11" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label "City:", :class => "control-label", :for => "input11" %>
        <div class="controls">
          <%= f.text_field :city, :class => "input-large", :id => "input11" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label "State / Region:", :class => "control-label", :for => "input12" %>
        <div class="controls">
          <%= f.select :state, ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'], :prompt => "Select state", :class => "input-large", :id => "input12" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label "Zip code:", :class => "control-label", :for => "input12" %>
        <div class="controls">
          <%= f.text_field :postal_code, :class => "input-large", :id => "input12" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label "Phone:", :class => "control-label", :for => "input12" %>
        <div class="controls">
          <%= f.text_field :phone, :class => "input-large", :id => "input12" %>
          <p>(000) 000-0000</p>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Club Status</legend>
      <div class="control-group">
        <%= f.label "Club Status:", :class => "control-label", :for => "input12" %>
        <div class="controls">
          <%= f.select :status, %w(Non-Active Active), :class => "input-large", :id => "input12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label "Leadership:", :class => "control-label", :for => "input12" %>
        <div class="controls">
          <%= f.select :leadership, ['Non', 'President', 'First Vice President', 'Second Vice President', 'Third Vice President', 'Secretary', 'Treasure', 'Lion Tamer', 'Tail Twister', 'Membership Chair', 'Director 001 Year', 'Director 2 Year', 'Past President'], :class => "input-large", :id => "input12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label "Officers:", :class => "control-label", :for => "input12" %>
        <div class="controls">
          <%= f.select :officers, ['Non', 'President', 'Vice President', 'Secretary', 'Treasurer', 'Director'], :class => "input-large", :id => "input12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label "Webmaster:", :class => "control-label", :for => "input12" %>
        <div class="controls">
          <%= f.select :webmaster, ['Non', 'Webmaster'], :class => "input-large", :id => "input12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label "Newsletter Editor:", :class => "control-label", :for => "input12" %>
        <div class="controls">
          <%= f.select :newsletter_editor, ['Non', 'Editor'], :class => "input-large", :id => "input12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label "Photographer:", :class => "control-label", :for => "input12" %>
        <div class="controls">
          <%= f.select :photographer, ['Non', 'Photographer'], :class => "input-large", :id => "input12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label "Signature:", :class => "control-label", :for => "input12" %>
        <div class="controls">
          <%= f.text_field :signature, :class => "input-large", :id => "input12" %>
        </div>
      </div>


    </fieldset>
    <fieldset>
      <legend>Avatar</legend>
      <div class="control-group">
        <%= f.label "Upload a file:", :class => "control-label", :for => "input12" %>
        <div class="controls">
          <%= f.file_field :avatar, :class => "input-large", :id => "input12" %>
        </div>
      </div>


    </fieldset>

    <div><%= f.submit "Sign up", :class => "btn-large" %></div>
<% end %>
</fieldset>

<%= render :partial => "devise/shared/links" %>

