<% provide :page_title, "Delete Subject: #{@subject.name}" %>

<ul class="nav nav-pills">
  <li>
    <%= link_to({:controller => 'access', :action => 'menu'}, :class => "btn-primary") do %>
        <i class="icon-home icon-white"></i> Admin Home
    <% end %>
  </li>

  <li>
    <%= link_to(root_path, :class => "btn-primary") do %>
        <i class="icon-home icon-white"></i> Site Home
    <% end %>
  </li>
</ul>


<div class="form-board">

  <%= simple_form_for @subject, :url => {:action => 'destroy', :id => @subject.id} do |f| %>
      <div class="well">
        <fieldset>
          <legend><%= "Delete Subject '#{@subject.name}'" %></legend>
          <p class="alert alert-error">Are you sure you want to permanently delete subject "<%= @subject.name %>"?</p>

          <div class="form-actions">
            <%= f.submit "Delete Subject", :class => 'btn btn-large' %>
            <%= link_to 'Cancel', subjects_path, :class => 'btn btn-large' %>
          </div>
        </fieldset>
      </div>
  <% end %>
</div>


