<% provide :page_title, "Edit Subject: #{@subject.name}" %>
<ul class="nav nav-pills">
  <li>
    <%= link_to({:controller => 'access', :action => 'menu'}, :class => "btn-primary") do %>
        <i class="icon-home icon-white"></i> Admin Home
    <% end %>
  </li>

  <li>
    <%= link_to(root_path, :class => "btn-primary") do %>
        <i class="icon-home icon-white"></i> Site Home
    <% end %>
  </li>
</ul>
<div class="form-board">
  <%= simple_form_for @subject, :url => {:action => 'update', :id => @subject.id}, :html => {:class => "form-horizontal"} do |f| %>
      <div class="well">
        <fieldset>
          <legend><%= "Update Subject '#{@subject.name}'" %></legend>
          <%= render(:partial => "form", :locals => {:f => f}) %>
          <div class="form-actions">
            <%= f.submit "Update Subject", :class => 'btn btn-large' %>
            <%= link_to 'Cancel', subjects_path, :class => 'btn btn-large' %></div>
        </fieldset>
      </div>
  <% end %> </div>

