<h4> <%= @club.current_year %> BOARD OF DIRECTORS</h4>
<table>
  <tbody>
  <tr>
    <td width="50%">
      <% @leaders.each do |leader| %>
          <em><%= leader.leadership %>:&nbsp;&nbsp;</em></strong> <%= leader.signature %>
          <br>
      <% end %>
      <% @officers.each do |officer| %>
          <em><%= officer.officers %>:&nbsp;&nbsp;</em></strong> <%= officer.signature %>
          <br>
      <% end %>

    </td>

    <td width="50%" align="center">
      <figure class="float-left">


      </figure>
    </td>
  </tr>
  </tbody>
</table>
<hr>
<h4> <%= @newsletter.period.strftime("%B").upcase %> BIRTHDAYS</h4>
<table>
  <tbody>
  <tr>
    <td width="50%"><%= image_tag("box.jpg") %></td>
    <td width="50%">
      <% @users.each do |user| %>
          <% if user.birthday.strftime("%B") == @newsletter.period.strftime("%B") %>
              <em><%= user.signature %> ... <%= user.birthday.strftime("%B %d") %></em><br>
          <% end %>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>
<hr>

