<% provide :page_title, "Delete Newsletter: #{@newsletter.period}" %>
<ul class="nav nav-pills">
  <li>
    <%= link_to({:controller => 'access', :action => 'menu'}, :class => "btn-primary") do %>
        <i class="icon-home icon-white"></i> Admin Home
    <% end %>
  </li>
  <li>
    <%= link_to({:action => 'list'}, :class => "btn-primary") do %>
        <i class="icon-th-list icon-white"></i> Newsletters List
    <% end %>
  </li>
  <li>
    <%= link_to(root_path, :class => "btn-primary") do %>
        <i class="icon-home icon-white"></i> Site Home
    <% end %>
  </li>
</ul>

<div>
  <h2> <%= "Delete Newsletter".upcase %>  <%= @newsletter.period.strftime("%B %Y").upcase %></h2>
  <%= form_for(:newsletter, :url => {:action => 'destroy', :id => @newsletter.id}) do |f| %>
      <p class="alert alert-error">Are you sure you want to permanently delete
        newsletter <%= @newsletter.period.strftime("%B %Y") %>?</p>

      <div class="well span6 offset3">
        <fieldset>
          <legend>Delete Newsletter</legend>
          <div class="control-group">
            <div class="controls">
              <%= f.submit "Delete Newsletter", :class => "btn-large" %>
            </div>
          </div>
        </fieldset>
      </div>
  <% end %> </div>