<% provide :page_title, 'Create Club' %>
<ul class="nav nav-pills">
  <li>
    <%= link_to({:controller => 'access', :action => 'menu'}, :class => "btn-primary") do %>
        <i class="icon-home"></i> Admin Home
    <% end %>
  </li>
  <li>
    <%= link_to({:action => 'list'}, :class => "btn-primary") do %>
        <i class="icon-th-list"></i> Club Information
    <% end %>
  </li>
  <li>
    <%= link_to(root_path, :class => "btn-primary") do %>
        <i class="icon-home"></i> Site Home
    <% end %>
  </li>
</ul>

<%= simple_form_for(@club, :url => {:controller=>'club',:action => 'create'}, :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>
    <%= f.error_notification %>
    <div class="well span6 offset3">
      <fieldset>
        <legend>Insert Club Information</legend>
        <div class="form-inputs">
          <%= render(:partial => "form", :locals => {:f => f}) %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Create Club", :class => "btn btn-large" %>
          <%= link_to({:controller => 'club', :action => 'list'}, :class => 'btn btn-large') do %>
              Cancel
          <% end %>
        </div>
      </fieldset>
<% end %>
</div>
